
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SIH-FarmersFriend-.iml
.idea/vcs.xml
static/.DS_Store
static/.DS_Store
.DS_Store
static/.DS_Store
static/.DS_Store
static/.DS_Store
static/.DS_Store
twilio.env
