<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_sih.css') }}">
  <title>About</title>
</head>

<!--NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container">
      <a href="/" class="navbar-brand"><img src="{{ url_for('static', filename='img/Logo.png') }}" width="200" height="50"alt="Farmer's Friend"></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target = "#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="register.html" class="nav-link">Register</a>
              </li>
              <li class="nav-item">
                  <a href="askaquestion.html" class="nav-link">Ask a Question</a>
              </li>
              <li class="nav-item">
                  <a href="smartguide.html" class="nav-link">Smart Guide</a>
              </li>
              <li class="nav-item">
                <a href="weatherupdates.html" class="nav-link">Weather Updates</a>
            </li>
            <li class="nav-item">
              <a href="knowledgehub.html" class="nav-link">Knowledge Hub</a>
            </li>
            <li class="nav-item">
              <a href="discussionforum.html" class="nav-link">Discussion Forum</a>
            </li>
              <li class="nav-item active">
                <a href="about.html" class="nav-link">About</a>
            </li>
          </ul>

      </div>
  </div>
</nav>

  <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>ABOUT</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ABOUT SECTION -->
  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Goal</h1>
          <p>
            The idea of Team Hack o’ Holics is to help the esteemed farmers of India in their daily work. The product utilizes ML algorithms to predict the forthcoming weather, and depending upon this, suggests the best crops to grow so that a farmer can have maximum harvest.  This product also sends weather warnings taken from the MET department to registered users from time to time so that they can be prepared before the crisis occurs. 
            Our team consists of 6 computer science enthusiasts who are pursuing their Engineering in Information Technology. 
            <br/>
            Abhijeet Reddy, the technology geek, is the greatest asset to the group. He is a genius who is an expert at problem solving and algorithms. He is the man responsible for the implementation of the ML algorithms in this product.
            <br/>
            Tarun Bhargav, the man behind the great User Interface of the website, is a Front-end enthusiast whose capabilities have proven so great that even the god of thunder (who, by the way, loves User Experience) worships him. His hard work and his talent have proved to be a vital asset to the team.
            <br/>
            Lekhraj, the techie of the group, is a man whose determination and hard work has made him an expert in almost all the fields of computer science. If he needs to learn a new trend, he will become an expert in it within a fortnight.
            <br/>
            Harshasri, the nerd and the researcher of the group, is a data science enthusiast whose interests have been a vital asset for the success of the product. 
            <br/>
            Induja, the designer of the application has good database knowledge which helped the back end management of the application. 
            
            </p>
        </div>
        <div class="col-md-6">
          <img src="{{ url_for('static', filename='img/farmers.jpg') }}" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
        </div>
      </div>
    </div>
  </section>

  <!--DEVELOPERS-->
  <section id="developers" class="p-4">
    <div class="container">
      <div class=" p-4 text-center">
        <h1 class="text-center dev-text">Developers</h1>
      </div>
      <div class="row">
        <div class="col-md-2">
          <img src="{{ url_for('static', filename='img/ainesh.jpg') }}" class="figure-img img-fluid rounded-circle border border-white" width="150" height="150" alt="">
          <h7 class="text-center p-4 dev-text" >Ainesh Phanithi</h7>
        </div>
        <div class="col-md-2">
          <img src="{{ url_for('static', filename='img/abhijeet.jpg') }}"class="figure-img img-fluid rounded-circle border border-white" width="150" height="150" alt="">
          <h7 class="text-center p-4 dev-text" >Abhijeet Reddy</h7>
        </div>
        <div class="col-md-2">
          <img src="{{ url_for('static', filename='img/tarun.jpg') }}"class="figure-img img-fluid rounded-circle border border-white" width="150" height="150" alt="">
          <h7 class="text-center p-4 dev-text" >Tarun Bhargav</h7>
        </div>
        <div class="col-md-2">
          <img src="{{ url_for('static', filename='img/lekhraj.jpg') }}"class="figure-img img-fluid rounded-circle border border-white" width="150" height="150" alt="">
          <h7 class="text-center p-4 dev-text" ><pr class="h7 text-center p-4 dev-text"> Lekh Raj</pr></h7>
        </div>
        <div class="col-md-2">
          <img src="{{ url_for('static', filename='img/harsha.jpg') }}"class="figure-img img-fluid rounded-circle border border-white" width="150" height="150" alt="">
          <h7 class="text-center p-4 dev-text" >Harsha Sri</h7>
        </div>
        <div class="col-md-2">
          <img src="{{ url_for('static', filename='img/indu.jpg') }}"class="figure-img img-fluid rounded-circle border border-white" width="150" height="150" alt="">
          <h7 class="text-center p-4 dev-text" >Induja Reddy</h7>
        </div>
      </div>
    </div>
  </section>

 <!--FOOTER-->
 <footer id="main-footer" class="text-center p-4">
  <div class="container">
      <div class="row">
          <div class="col">
              <h5>Team Hack O' Holics</h5>
              <p>Copyright &copy; <span id="year"></span></p>
          </div>
          <div class="col">
              <h5>Quick Links</h5>
              <a href="about.html" class="h6">About</a><br>
              <a href="register.html" class="h6">Register</a>
          </div>
      </div>
  </div>
</footer>


<script src="{{ url_for('static', filename='fontawesome-free-5.12.0-web/js/all.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
  </script>
</body>

</html>