<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_sih.css') }}">
    <title>Farmer's Friend</title>
</head>
<body>
    <!-- Start Here -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand"><img src="{{ url_for('static', filename='img/Logo.png') }}" width="200" height="50"alt="Farmer's Friend"></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target = "#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="register.html" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="askaquestion.html" class="nav-link">Ask a Question</a>
                    </li>
                    <li class="nav-item">
                        <a href="smartguide.html" class="nav-link">Smart Guide</a>
                    </li>
                    <li class="nav-item">
                        <a href="weatherupdates.html" class="nav-link">Weather Updates</a>
                    </li>
                    <li class="nav-item">
                        <a href="knowledgehub.html" class="nav-link">Knowledge Hub</a>
                      </li>
                      <li class="nav-item">
                        <a href="discussionforum.html" class="nav-link">Discussion Forum</a>
                      </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--SHOWCASE SLIDER-->
    <section id="showcase">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to ="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to ="1"></li>
                <li data-target="#myCarousel" data-slide-to ="2"></li>
                <li data-target="#myCarousel" data-slide-to ="3"></li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-item carousel-image-1 active">
                    <div class="dark-overlay">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-right mb-5">
                            <h1 class="display-3">Register now to reap benefits!</h1>
                            
                            <a href="register.html" class="btn btn-danger btn-lg">Join Now!</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-2">
                    <div class="dark-overlay">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3">Know about what we do!</h1>
                            
                            <a href="about.html" class="btn btn-primary btn-lg">Learn More</a>
                        </div>
                    </div>
                </div>
                </div>

                <div class="carousel-item carousel-image-3">
                    <div class="dark-overlay">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-right mb-5">
                            <h1 class="display-3">Interact and ask a question!</h1>
                            
                            <a href="askaquestion.html" class="btn btn-success btn-lg">Ask a Question!</a>
                        </div>
                    </div>
                </div>
                </div> 

                <div class="carousel-item carousel-image-4">
                    <div class="dark-overlay">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-right mb-5">
                            <h1 class="display-3">Get smart suggestions!</h1>
                            <a href="smartguide.html" class="btn btn-success btn-lg">Smart Guide</a>
                        </div>
                    </div>
                </div>
                </div> 

            </div>
            <a href="#myCarousel" data-slide = "prev" class="carousel-control-prev">
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a href="#myCarousel" data-slide = "next" class="carousel-control-next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </section>
    <!--HOME ICON SECTION-->
    <section id="home-icons" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 text-center">
                    <i class="fas fa-seedling fa-3x mb-2"></i>
                    <h3>Crop Suggestions</h3>
                    
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <i class="fas fa-cloud fa-3x mb-2"></i>
                    <h3>Weather Alerts </h3>
                    
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <i class="fas fa-plus fa-3x mb-2"></i>
                    <h3>Pest Control</h3>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- HOME HEADING SECTION -->
 <section id="home-heading" class="p-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1 class="h3">"Agriculture is the most healthful, most useful, and most noble employment of man."    </h1>
          </div>
        </div>
      </div>
    </div>
  </section> 

  <!--FOOTER-->
  <footer id="main-footer" class="text-center p-4">
      <div class="container">
          <div class="row">
              <div class="col">
                  <h5>Team Hack O' Holics</h5>
                  <p>Copyright &copy; <span id="year"></span></p>
              </div>
              <div class="col">
                  <h5>Quick Links</h5>
                  <a href="" class="h6">About</a><br>
                  <a href="" class="h6">Register</a>
              </div>
          </div>
      </div>
  </footer> 





  <script src="{{ url_for('static', filename='fontawesome-free-5.12.0-web/js/all.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        //Get the current year for the copyright
        $('#year').text(new Date().getFullYear())
        //Confirure Slider
        $('.carousel').carousel({
            interval:6000,
            pause: 'hover'
        })
    </script>
</body>
</html>